<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="D:\HuaweiMoveData\Users\38929\Desktop\数据结构大作业\demo\src\main\resources\mapper" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="D:\HuaweiMoveData\Users\38929\Desktop\数据结构大作业\demo\src\main\resources\mapper" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>